
------

# Conditionals, Loops





### Table of Contents


1 - [Conditionals](#section1)<br>  

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.1 - [Booleans and Comparison Operators](#subsection1)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 1.2 - [Conditional Statements](#subsection2)<br>

2 - [Loops](#section2) <br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.1 - [For Loops](#subsection3)<br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 2.2 - [While Loops](#subsection4)<br>

In [ ]:
#Make sure to import the math library

import math

---
# Conditionals <a id='section1'></a>

Instead of a sequential execution, we often need to execute a specific code based on a condition. It also helps in decision-making, preferably when we prefer to execute a piece of code only if certain conditionals are met.

## 1.1 Booleans and Comparison Operators <a id='subsection1'></a>

Booleans can only take **True** or **False** values. They represent the "truth" values in a logical expression, and can help us answer questions that require a binary responses (either yes or no) whenever a given condition is or is not met.

In [ ]:
# EXAMPLE 

0 < -1

In [ ]:
# EXAMPLE 

abs(-2) < abs(2)

Now, let's check the type of each of the examples above. We will using the **type** function.

In [ ]:
# EXAMPLE 
type(0< -1)

In [ ]:
# EXAMPLE  
type(abs(-2) < abs(2))

Here is a list of **comparison operators**

|Operator| Meaning|
|--------|---------|
|< | less than |
|<= | less than or equal to|
|> | greater than |
|>= | greater than or equal to|
|!= | not equal to|
|== | equal to|

Be careful when using the equal to operator **==**. 

Recall that **=** is used to assign a value to a variable.

Let us try some exercises:

**Exercise 1**  Write "4 equal to 'four'" in code using conditionals.

In [ ]:
# YOUR CODE

**Exercise 2**  Write "2 equal to 1 + 1" in code using conditionals.

In [ ]:
# YOUR CODE

**Exercise 3**  Write "0 equal to False'" in code using conditionals.

In [ ]:
# YOUR CODE

## 1.2 Conditional Statements <a id='subsection2'></a>

A conditional statement has the following form:

`if <condition>:
    <do_something> 
elif <condition>:
    <do_something>
else:
     <do_something>`

In [ ]:
# EXAMPLE

if 5 < 6:
    print("True. 5 is less than 6!")
else:
    print("False. What is math?")

**How do conditional statements work?**
* First, it evaluated the header expression(which is the `if` statement). If the statement is True, then it executes the first suite otherwise, it checks the condition of the `elif`, and so on. 
* It will only execute the suite (do_something) of the `else` clause, if the conditions of the `if` and `elif` are false (not met). 


**Some notes about conditional statements:**
* You can have as many `elif` expressions as you want, but you can only have one `if` and one `else` statement. 
* `else` always comes at the end.
* You do not always need an `else`.
* When you execute a conditional statement, you must ALWAYS consider the order of you statements.

In [ ]:
# EXAMPLE

var1 = 200
var2 = 200
if var2 > var1:
    print("var2 is greater than var1")
else: 
    print("var2 is less than var1")

Note in the above example, since the condition in the if statement was not met, the else statement is executed. How will you modify the above code to print "var 1 is equal to var 2"?

In [ ]:
# EXERCISE

var1 = 200
var2 = 200
...

In [ ]:
# EXAMPLE 

if len("Maria") == 5:
    print("Hello, 5!")
else:
    print("Hello, 6!")

Before running the example below, guess what the output will be.

What might the output be if you change the value of fizzbuzz to 9? 20? 32? Try it out!

In [ ]:
# EXAMPLE 

fizzbuzz = 15
if fizzbuzz % 3 == 0 and fizzbuzz % 5 == 0:
    print("fizzbuzz")
elif fizzbuzz % 3 == 0:
    print("fizz")
elif fizzbuzz % 5 == 0:
    print("buzz")

If you tried fizzbuzz = 32, you should have seen that the code did not provide any output. This is because all conditionals were evaluated to be false and all print statements were skipped.

In [ ]:
# EXAMPLE 

var1 = 1
var2 = 2
if var2 > var1:
    var2 = 0
print("var2 is equal to var1")

The print statement in the above example is not within the scope of the conditional statement. As such, it gets executed regardless of whether the condition is met or not.

What is the final value of var2 after running the entire code?

In [ ]:
# EXERCISE 

# if the string is equal to "49ers", print "Go Niners", if not print "Not my team". 

team = "49ers"

**Conditional Statements in Functions**

In the cell below, we are going to define a function that will multiply the two numbers you give it only if they are not equal to each other.

In [ ]:
# EXAMPLE

def mult_not_eq(x, y):
    # if the first number is not equal to the second
    print(x, y)
    if x!=y:
    # I will multiply them
        return x*y
    else:
        print("Use the square function instead")
        
        
mult_not_eq(2, 2)

Now it's time for you to define a function. Create a function that will add up two numbers, but only if they are not equals.

In [ ]:
# EXERCISE

def sum_not_equals(..., ...):
    if ...:
        return ...
    else:
        ...
    
    
sum_not_equals(1, 5)

---
# Loops <a id='section2'></a>

What are loops useful for? 
- Sometimes we want to perform some operation on a list but doing it on each element individually can be very tedious!
- A loop goes through a collection of data types and **executes** some state statement **for each value** in that collection of data. 
- Examples of data types are: list, array, characters string, dictionary, and other collections

---
## 2.1 For  Loops <a id='subsection3'></a>

Syntax: 

**for** var **in** iterable:

    statement 
    statement 

    
* var - it takes items from iterable one by one. 
* iterable - it's a collection of objects.
* indentation - loop body MUST be indented.
* loop body - first two statements

In [ ]:
# EXAMPLE 

greeting = 'Hello'

# to print each letter in greeting without using loop 

print(greeting[0])
print(greeting[1])
print(greeting[2])
print(greeting[3])
print(greeting[4])

In [ ]:
# EXAMPLE 

greeting = 'Hello'

# here we are using the for loop

for letter in greeting:
	print(letter)

The for loop helps us write the code in a simpler way with less code we can iterate over. This minimizes confusion, reduces lines of code, and runs faster.

In [ ]:
# EXAMPLE 

# square each value in the list 

for x in [1,2,3]:
    print(x**2)

In [ ]:
# EXAMPLE 

# print each item in the list. 
# recall that the elements in the list do not have to have the same type 

for i in [1, 2.0, "hi!"]:
    print(i)

Create a for-loop that multiplies every number in the list by 3 (and outputs it on every step).

In [ ]:
# EXERCISE 

numbers = [1, 5, 7, 0, 10, 4, 7]

for i in ...:
    ...

For loops can use range functions as well:

In [ ]:
# EXAMPLE 

for i in range(5):
    print(i)

In [ ]:
#EXAMPLE

for i in range(1,7):
    print(i)

In [ ]:
#EXERCISE

#Print numbers 2 through 8

for i in range(...):
    print(i)

In [ ]:
#EXERCISE

#Print ONLY even numbers between 2 and 8

for i in range(...):
    print(i)

In [ ]:
# EXAMPLE 

# calculate the area for circles with different radius

radiuses = [1, 3, 5, 7, 9]

for radius in radiuses: 
    area = math.pi*radius**2
    print(area)

In [ ]:
# EXERCISE

# calculate the volume of spheres with different radius by modifying the above code 

radiuses = [1, 3, 5, 7, 9]

for radius in radiuses: 
    ...

In [ ]:
# EXAMPLE 
# Let us see an example that uses our knowledge of lists, conditional statements, and loops

# print the colors stored in an array
color = ["green", "pink", "red"]
for c in color:
  print(c) 
  if c == "pink":
    break

Why did the color **red** not print?

In [ ]:
# EXERCISE

#Print only colors that have the letter 'e'
color = ["green", "pink", "red"]
for c in color:
    if ...:
        print(c)

As we mentioned before, you can loop through any iterable data type or data sctructure. That means that we can even loop through dictionaries.

In [ ]:
# EXAMPLE

cities = {1:'New York', 2:'Los Angeles', 3:'Miami', 4:'Chicago'}
    
for key in cities:
    print(key)

In the cell below, see if you can print out the corresponding value for each key:

In [ ]:
# EXERCISE

for key in cities:
    print(...)

---
## 2.2 While Loops  <a id='subsection4'></a>

Syntax:

**while** condition: 

    statement 
    statement 

    
* condition - any expression that evaluates to true or false (so, our conditionals!)
* loop body - first and second statements. It is excludes as long as the condition is true. 
* else clause - it is executed if the condition becomes false 
* indentation - loop body must be indented.

In [ ]:
# EXAMPLE

# Iterate until x becomes 0 
x = 10
while x > 0:
    print(x)
    x = x-1

In [ ]:
# EXAMPLE

x = 10
while x > 0:
    print(x)
    x = x - 1
else:
    print('Done with my countdown!')

In [ ]:
#EXAMPLE

#Add the first 5 natural numbers using the while loop.

n = 5  # upper limit
sum = 0 #initialize the variable for sum
i = 1
while i <= n:
    sum = sum+ i
    i += 1     #increment the counter
# print the sum
print("the sum :",  sum)

In [ ]:
#EXERCISE

#Create a while loop that multiplies the first 5 numbers by 2

n = 5
i = 1
while ...:
    print(...)
    i += 1

In [ ]:
# EXERCISE

# Create a while loop that prints the square of the first 4 even numbers
# Hint use the modulus (%) operator to see if it's even

x = 1 
while x < 10:
    if ...:
        print(...)
        
    x += 1

---
Notebook developed by: Kseniya Usovich, Rachel McCarty, Baishakhi Bose, Alisa Bettale